.bgcolor {
    background: #a0aec0;
  }
  
  .col-border {
    border: 1px solid #718096;
  }

  .container {
    font-family: arial;
    font-size: 24px;
    margin: 25px;
    width: 350px;
    height: 200px;
    outline: dashed 1px black;
  }